<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
</head>

<body>

    <header class="site-header">
        <nav class="header-nav">
            <a href="{{ '/about' | relative_url }}" class="nav-link">about</a>
        </nav>
        <h1 class="site-title"><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
        <div class="search-container" style="position: relative;">
            <input type="text" id="search-input" placeholder="search recipes..." class="search-input">
            <!-- <button type="button" class="search-button">
                <span class="search-icon">🔍</span>
            </button> -->
        </div>
    </header>

    <main>
        {{ content }}
    </main>

    <footer class="site-footer">
        <p></p> <!-- Made with love for Valentine's Day -->
    </footer>
</body>

</html>